@import "colors.scss";

@import "reset.css";
@import "fonts.css";

@import "headings.css";
@import "buttons.css";
@import "inputs.css";
@import "forms.css";
@import "select-category.css";

// Common styles
:root {
	--app-height: 100%;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 32px;
	line-height: 39px;
	font-weight: 400;
}

.app {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	height: var(--app-height);
}

.main {
}

.container {
	max-width: 1010px;
	margin: 0 auto;

	@media (max-width: 1199px) {
		max-width: 100%;
		padding: 15px;
	}
}

.currency {
	&::after {
		content: "руб.";
	}

	&_inside-input {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 17px;
	}

	@media (max-width: 767px) {
		font-size: 24px;
	}
}